.autocomplete {
    border: 1px solid var(--input-border-color);
    border-top-width: 0;
    background: var(--background-color-white);
    font-size: 13px;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    text-align: left;
    position: absolute;
    top: 40;
    left: 0;
    right: 0;
    z-index: 10;
}

.autocomplete li {
    padding: 8px;
}

.autocomplete>.active,
.autocomplete li:hover {
    background-color: var(--background-color-light);
    cursor: pointer;
}
