.loader {
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    border: 3px solid var(--loader-light-color);
    border-top-color: var(--loader-color);
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;    
}

.loader-container {
    margin-top: 30px;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
