.pagination {
    display: inline-block;
}

.pagination-container {
    border-top: 1px solid var(--filter-border-color);
    clear: both;
    overflow: hidden;
    padding: 20px 8px 8px 8px;
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    display: block;
}

.pagination-last-page,
.pagination-next-page {
    float: right;
}

.pagination-first-page,
.pagination-previous-page {
    float: left;
}

.pagination-next-page,
.pagination-previous-page {
    text-decoration: none;
    color: var(--label-link-color);
}

.pagination-next-page:hover,
.pagination-previous-page:hover {
    text-decoration: underline;
}

.pagination-first-page,
.pagination-first-page:hover,
.pagination-last-page,
.pagination-last-page:hover {
    text-decoration: none;
    cursor: not-allowed;
    color: var(--disabled-link-color);
}
