.search-autocomplete {
    border: 1px solid var(--input-border-color);
    border-top-width: 0;
    background: var(--background-color-white);
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    text-align: left;
    position: absolute;
    top: 40;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 13px;
}

.search-autocomplete li {
    padding: 8px;
}

.search-autocomplete>.active,
.search-autocomplete li:hover {
    background-color: var(--background-color-light);
    cursor: pointer;
}

.search-button {
    background-color: var(--blue-button);
    border-color: var(--blue-button-border);
    border-style: solid;
    border-radius: 2px;
    width: 10%;
    max-width: 100px;
    margin-left: 20px;
    height: 30px;
}

.search-button:disabled:hover,
.search-button:disabled {
    opacity: .7;
    cursor: not-allowed;
}

.search-button:hover {
    opacity: .9;
    cursor: pointer;
}

.search-form {
    display: flex;
}

#search-input {
    height: 30px;
    width: 100%;
    background: var(--background-color-white);
    border: 1px solid var(--input-border-color);
    padding: 2px 10px;
}

.search-input-container {
    position: relative;
    width: 100%;
}
