.search-button {
    background-color: var(--blue-button);
    border-color: var(--blue-button-border);
    border-radius: 2px;
    border-style: solid;
    width: 10%;
    max-width: 100px;
    margin-left: 20px;
    height: 30px;
}

.search-button:disabled:hover,
.search-button:disabled {
    cursor: not-allowed;
    opacity: .7;
}

.search-button:hover {
    cursor: pointer;
    opacity: .9;
}

.search-form {
    display: flex;
}

#search-input {
    background: var(--background-color-white);
    border: 1px solid var(--input-border-color);
    outline: 0;
    padding: 2px 10px;
    height: 30px;
    width: 100%;
}

.search-input-container {
    width: 100%;
}

/* Remove chrome clear button and implement custom button */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

#search-input,
.search-close-icon,
.search-input-container {
    position: relative;
}

.search-close-icon {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    float: right;
    outline: 0;
    vertical-align: middle;
}

.search-close-icon:after {
    background-color: var(--reset-link-color);
    border-radius: 50%;
    color: var(--background-color-white);
    content: "x";
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: normal;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: -23px;
    margin: 0;
    bottom: 0;
    text-align: center;
}

#search-input:not(:valid)~.search-close-icon::after {
    display: none;
}
