.search-results {
    text-align: left;
    min-height: 60vh;
}

.search-results-time {
    float: left;
    font-size: 13px;
    margin-top: 5px;
}

@media (max-width: 620px) {
    .search-results-time {
        float: none;
    }
}

.search-results-time-container {
    border-bottom: 1px solid var(--filter-border-color);
    clear: both;
    overflow: hidden;
    padding: 2px 4px 8px 8px;
}
