.section-filter-link {
    text-decoration: none;
    color: var(--filter-link-color);
    font-weight: bold;
    padding: 2px 8px 0 8px;
    line-height: 27px;
}

.section-filter,
.section-filter-active {
    display: inline-block;
    padding-bottom: 5px;
}

.section-filter-active {
    border-bottom: 2px solid var(--filter-link-color);
}

.section-filters {
    text-align: left;
    margin: 6px 0 4px 0;
    border-bottom: 1px solid var(--filter-border-color);
    font-size: 13px;
}

@media (max-width: 620px) {
    .section-filters {
        display: none;
    }
}