.sort-filter {
    float: right;
    font-size: 13px;
    margin-top: 5px;
}

@media (max-width: 620px) {
    .sort-filter {
        float: none;
    }
}

#sort-filter-dropdown {
    margin-left: 5px;
}
