:root {
  /* global color variables */
  --background-color: #5f6265;
  --background-color-light: #f0f1f2;
  --background-color-white: #ffffff;
  --blue-button: #357AE8;
  --blue-button-border: #2F5BB7;
  --breadcrumb-color: #009933;
  --disabled-link-color: #8e9397;
  --filter-border-color: #dfe1e5;
  --filter-link-color: #CCCCCC;
  --header-color: #030303;
  --input-border-color: #D9D9D9;
  --label-link-color: #030303;
  --loader-color: #616366;
  --loader-light-color: rgba(173, 171, 171, 0.3);
  --primary-link-color: #FF4F00;
  --primary-link-hover-color: #b93b00;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
